
.icon-arrow_lift:before
	content: "\e901"

.icon-thumb_up:before
	content: "\e909"

.icon-thumb_down:before
	content: "\e908"

.icon-shopping_cart:before
	content: "\e907"

.icon-favorite:before
	content: "\e904"

.icon-check_circle:before
	content: "\e902"

.icon-close:before
	content: "\e903"

.icon-remove_circle_outline:before
	content: "\e906"

.icon-add_circle:before
	content: "\e900"

.icon-keyboard_arrow_right:before
	content: "\e905"